footer {
    background-color:var(--color-2);
    padding: 1rem 2rem;
  }
  
  .TextoCopyright {
    justify-self: center;
    grid-area: TextoCopyright;
  }
  
  footer small {
    color: var(--color-1);
  }
  
  @media (max-width: 576px) {
    .header .logo {
      padding: 2rem;
    }
  
    .header p {
      font-size: 1.5rem
    }
  }
  
  @media (max-width: 768px) {
    footer {
      display: flex;
      flex-direction: column-reverse;
      gap: 1rem;
    }
  }