/* You can add global styles to this file, and also import other style files */
@import "tailwindcss";
html,
body {
  height: 100%;
  width: 100%;
  background-size: contain;
}
body {
  margin: 0;
  font-family: Roboto, "Helvetica Neue", sans-serif;
}
:root {
  --color-1: #dfdfdf /*#191013/*#1c0b2b /*#efd8a4*/;
  --color-2: #e39e5b /*#301c41 /*#e8ae96*/;
  --color-7: #d37a20;
  --color-3: #413b6b /*#e49d89*/;
  --color-4: #5c65c0 /*#e47f83*/;
  --color-8: #a0a0a0 /*#a8c99e*/;
  --color-5: #6f95ff /*#a8c99e*/;
  --color-6: #f4f1fa;
}

html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }
